<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SEpro3</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">




  <section class="callout" style="padding: 30px auto; ">
    <div class="container text-left">
      <div class="row">
        <div class="col-md-8">
          <div id="chart-container">Fusion Chart Here</div>
        </div>
        <div class="col-md-2" style="padding:auto 50px">
          <div class="card" style="width: 18rem;border:5px solid black">
            <div class="card-body">
              <h5 class="card-title">Gas Concentration</h5>
              <h6 class="card-subtitle mb-2 text-muted">LPG<small>ppm</small></h6>
              <p class="card-text text-center" id="gas-conc" style="font-size:50px">
                {{#if result.concentration}}{{result.concentration}}{{else}}--{{/if}}
              </p>

              <small class="float-right">time: <span class="t_stamp">{{#if
                  result.time_stamp}}{{result.time_stamp}}{{else}}--{{/if}}</span></small>
            </div>
          </div>
          <br>
          <div class="card" style="width: 18rem;border:5px solid black">
            <div class="card-body">
              <h5 class="card-title">Temperature</h5>
              <h6 class="card-subtitle mb-2 text-muted"><sup>o</sup>C</h6>
              <p class="card-text text-center" id="temperature" style="font-size: 50px">
                {{#if result.temperature}}{{result.temperature}}{{else}}--{{/if}}
              </p>

              <small class="float-right">time: <span class="t_stamp">{{#if
                  result.time_stamp}}{{result.time_stamp}}{{else}}--{{/if}}</span></small>
            </div>
          </div>
          <br>

        </div>
      </div>
      {{!-- <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download
        Now!</a> --}}
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=5.7597712,-0.2219285&amp;q=1%20University%20Avenue%2C%20%20Berekuso+(Ashesi%20University)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      <a href="https://www.maps.ie/map-my-route/">Draw map route</a>
    </iframe>
    {{!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small> --}}
  </section>


  {{!-- <div style="width: 100%">
  </div><br /> --}}

  <script type="text/javascript" src="/js/fusioncharts.js"></script>
  <script type="text/javascript" src="/js/themes/fusioncharts.theme.fusion.js"></script>
  <script type="text/javascript" src="/js/chart.js"></script>
</body>

</html>